:root {
  --vp-c-purple: #e18a3b;

  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-1: var(--vp-c-purple);
  --vp-c-brand-2: var(--vp-c-purple);

  /* brand按钮 */
  --vp-button-brand-border: #fff;
  /* --vp-button-brand-text: #f6ceec; */
  --vp-button-brand-bg: #c12c1f;

  --vp-button-brand-hover-border: #fff;
  --vp-button-brand-hover-bg: #af0b11;
}
